In [8]:
import pandas as pd

In [8]:
#question1
a1 = pd.Series((4,8,15,16,23,42))

In [10]:
type(a1)

pandas.core.series.Series

In [11]:
a1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [18]:
#Question2
a2 = pd.Series([4,5,6,7,8,9,0,3,56,78])
a2

0     4
1     5
2     6
3     7
4     8
5     9
6     0
7     3
8    56
9    78
dtype: int64

In [19]:
#Question3
t1 = pd.DataFrame({'Name':['Alice','Bob','Claire'],
                   'Age':[25,30,27],
                   'Gender':['Female','Male','Female']})
t1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#question4:
#A Dataframe is a two-dimensional labeled data structure with rows and columns.It can hold data ofvarious types such as integers,strings,floats etc. in different columns.
#Difference:

#1. DataFrame is two-dimensional(has rows and columns) while series is one dimensional.
#2. Dataframe can hold data of multiple types ehile a series can hold single data type at a time.
#3. Dataframe represents tabular data with multiple cariables while series represents a single variable or a single column.

#In short dataframe can hold collection of series to create rich tabular data structures.

In [22]:
#eg DataFrame:
d1 = pd.DataFrame({'First':['q','w','e','r'],
                   'Second':['a','s','d','f'],
                   'Third':['z','x','c','v']})
d1

  First Second Third
0     q      a     z
1     w      s     x
2     e      d     c
3     r      f     v

In [23]:
#eg Series:
d2 = pd.Series({'First':['q','w','e','r'],
                   'Second':['a','s','d','f'],
                   'Third':['z','x','c','v']})
d2

First     [q, w, e, r]
Second    [a, s, d, f]
Third     [z, x, c, v]
dtype: object

In [32]:
#question 5:
# Some functions that can be used to manipulate data in a pandas dataFrame are as follows:
#seelction (loc and iloc) : These are fundamental for selecting data i.e, loc-> for selecting data on basis of labels and iloc-> to select data on the basis of integer locations.
#Filtering(.query): To filter data nased on a specific condition;(.drop): to remove rows or columns from the dataframe, rows based on labels or conditions and columns by name or position.
#Aggregation(.sum,.mean,.min,.max): to calculate sum, mean , minimum and maximum values respectively.
#Transformation(.apply): Used to apply a custom function to each row or column of the dataframe.


# eg of .apply function:
#Add a new 'Age_Group' column based on age categories (custom function)
data = {'col1': [1, 2, 3, 4], 'col2': ['A', 'B', 'C', 'D']}
df = pd.DataFrame(data)

# Add a new column 'col4' by squaring the values in 'col1' using apply
def square(x):
  """
  Squares the input value.
  """
  return x * x

df['col4'] = df['col1'].apply(square)

print(df)

   col1 col2  col4
0     1    A     1
1     2    B     4
2     3    C     9
3     4    D    16

In [ ]:
#question 6 :
# Out of Series, DataFrame and Panel, Dataframe and Panel are mutable in nature.

In [43]:
#question 7:
p1 = pd.Series(['Ball','Bat','Wicket'])
p2 = pd.Series(['Red','Yellow','White'])
p3 = pd.Series([300,5000,8000])
p4 = {'Item':p1,'Colour':p2,'Price':p3}
P = pd.DataFrame(p4)
P

     Item  Colour  Price
0    Ball     Red    300
1     Bat  Yellow   5000
2  Wicket   White   8000